{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="{{ url_for('buy') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text"/> <!-- Input form for symbol -->
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="text"/>     <!--Taking shares as text, might want to change -->
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Buy</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
